$light-color: rgb(80, 216, 171);
// body and edit-taskname - background-color

$mainPadding: 20px 20px;
// navbar && noTasks && task && addTaskDiv - padding

$dark_color: black;
// link, link-hover, visited, 

$minWidth: 550px;
// navbar && container

$some_value: 20px;
// show-hide-add-task && task && add-task-div && modal .modal_content && p

// input && textarea && button
$itn_border:0px;
$itn_display:inline-block;
$itn_cursor:pointer;
$itn_font-size:15px;
$itn_font-weight:bold;
$itn_padding:6px 12px;
$itn_text-decoration:none;