body {
  background-color: rgb(80, 216, 171);
}

a:link {
  color: #000000; 
  font-weight: bold;
  text-decoration: none;
 }
a:hover {
  color: #000000; 
  font-weight: bold;
  text-decoration: underline;
 } 

a:visited {
  color: #000000; 
  font-weight: bold;
  text-decoration: none;
}

label {
  display: block;
}